<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="editorConfiguration" name="Editor Configuration" schema="schema/editorConfiguration.exsd"/>
   <extension-point id="schemaViewerConfiguration" name="Avro Schema Viewer Configuration" schema="schema/schemaViewerConfiguration.exsd"/>
   <extension-point id="attributesConfiguration" name="Attributes Configuration" schema="schema/attributesConfiguration.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.talend.avro.schema.editor.edit.AvroSchemaEditorPart"
            default="true"
            extensions="avsc"
            id="org.talend.avro.schema.editor.edit.AvroSchemaEditor"
            name="Avro Schema Editor">
         <contentTypeBinding
               contentTypeId="org.talend.avro.schema">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         id="org.talend.avro.schema.contentTypes"
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="avsc"
            id="org.talend.avro.schema"
            name="Avro Schema File"
            priority="high">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.talend.avro.schema.editor.studio.StudioSchemaEditorPart"
            default="true"
            extensions="stsc"
            id="org.talend.avro.schema.editor.studio.schema.StudioSchemaEditor"
            name="Studio Schema Editor">
         <contentTypeBinding
               contentTypeId="org.talend.avro.schema.studio">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         id="org.talend.avro.schema.contentTypes"
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="stsc"
            id="org.talend.avro.schema.studio"
            name="Studio Schema File"
            priority="high">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.talend.avro.schema.editor.viewer.ExpandAll"
            name="Expand All">
         <commandParameter
               id="org.talend.avro.schema.editor.context"
               name="context"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="org.talend.avro.schema.editor.viewer.CollapseAll"
            name="Collapse All">
         <commandParameter
               id="org.talend.avro.schema.editor.context"
               name="context"
               optional="false">
         </commandParameter>
      </command>      
      <command
            id="org.talend.avro.schema.editor.viewer.ExpandNodeAll"
            name="Expand Node All">
         <commandParameter
               id="org.talend.avro.schema.editor.context"
               name="context"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="org.talend.avro.schema.editor.viewer.CollapseNodeAll"
            name="Collapse Node All">
         <commandParameter
               id="org.talend.avro.schema.editor.context"
               name="context"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="org.talend.avro.schema.editor.viewer.ShowPreviousNode"
            name="Go to previous node">
         <commandParameter
               id="org.talend.avro.schema.editor.context"
               name="context"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="org.talend.avro.schema.editor.viewer.ShowNextNode"
            name="Go to next node">
         <commandParameter
               id="org.talend.avro.schema.editor.context"
               name="context"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="org.talend.avro.schema.editor.viewer.switchEditorLayout"
            name="Switch Editor Layout">
      </command>
      <command
            id="org.talend.avro.schema.editor.viewer.pinSlave"
            name="Pin Slave Schema Viewer">
      </command>
      <command
            id="org.talend.avro.schema.editor.viewer.syncMaster"
            name="Synchronize Master Schema Viewer">
      </command>
      <command
            id="org.talend.avro.schema.editor.viewer.navigateToRoot"
            name="Go To Root">
         <commandParameter
               id="org.talend.avro.schema.editor.context"
               name="context"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="org.talend.avro.schema.editor.viewer.navigateIn"
            name="Go Into">
         <commandParameter
               id="org.talend.avro.schema.editor.context"
               name="context"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="org.talend.avro.schema.editor.viewer.navigateOut"
            name="Go Back">
         <commandParameter
               id="org.talend.avro.schema.editor.context"
               name="context"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="org.talend.avro.schema.editor.undo"
            name="Undo">
      </command>
      <command
            id="org.talend.avro.schema.editor.redo"
            name="Redo">
      </command>
      <command
            id="org.talend.avro.schema.editor.showRegistry"
            name="Show Schema Registry View">
      </command>      
      <command
            id="org.talend.avro.schema.editor.edit.AddElement"
            name="Add">
         <commandParameter
               id="org.talend.avro.schema.editor.context"
               name="context"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="org.talend.avro.schema.editor.edit.RemoveElement"
            name="Remove">
         <commandParameter
               id="org.talend.avro.schema.editor.context"
               name="context"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="org.talend.avro.schema.editor.edit.MoveElement"
            name="Move Element">
         <commandParameter
               id="org.talend.avro.schema.editor.edit.direction"
               name="moveDirection"
               optional="false">
         </commandParameter>
         <commandParameter
               id="org.talend.avro.schema.editor.context"
               name="context"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="org.talend.avro.schema.editor.viewer.preferences"
            name="Preferences">
      </command>
      <command
            id="org.talend.avro.schema.editor.edit.copy"
            name="Copy">
         <commandParameter
               id="org.talend.avro.schema.editor.context"
               name="context"
               optional="false">        
         </commandParameter>
      </command>
      <command
            id="org.talend.avro.schema.editor.edit.paste"
            name="Paste">
         <commandParameter
               id="org.talend.avro.schema.editor.context"
               name="context"
               optional="false">        
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.talend.avro.schema.editor.viewer.handlers.ExpandAllHandler"
            commandId="org.talend.avro.schema.editor.viewer.ExpandAll">
      </handler> 
      <handler
            class="org.talend.avro.schema.editor.viewer.handlers.CollapseAllHandler"
            commandId="org.talend.avro.schema.editor.viewer.CollapseAll">
      </handler>
      <handler
            class="org.talend.avro.schema.editor.viewer.handlers.ExpandNodeAllHandler"
            commandId="org.talend.avro.schema.editor.viewer.ExpandNodeAll">
      </handler>
      <handler
            class="org.talend.avro.schema.editor.viewer.handlers.CollapseNodeAllHandler"
            commandId="org.talend.avro.schema.editor.viewer.CollapseNodeAll">
      </handler>
      <handler
            class="org.talend.avro.schema.editor.viewer.handlers.ShowPreviousNodeHandler"
            commandId="org.talend.avro.schema.editor.viewer.ShowPreviousNode">
         <enabledWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="org.talend.avro.schema.editor.edit.AvroSchemaEditorPart">
                  </instanceof>
               </with>
               <test
                     property="org.talend.avro.schema.editor.search.hasprevious"
                     value="true">
               </test>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.talend.avro.schema.editor.viewer.handlers.ShowNextNodeHandler"
            commandId="org.talend.avro.schema.editor.viewer.ShowNextNode">
         <enabledWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="org.talend.avro.schema.editor.edit.AvroSchemaEditorPart">
                  </instanceof>
               </with>
               <test
                     property="org.talend.avro.schema.editor.search.hasnext"
                     value="true">
               </test>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.talend.avro.schema.editor.viewer.handlers.SwitchEditorLayoutHandler"
            commandId="org.talend.avro.schema.editor.viewer.switchEditorLayout">
      </handler>
      <handler
            class="org.talend.avro.schema.editor.viewer.handlers.PinSlaveViewerHandler"
            commandId="org.talend.avro.schema.editor.viewer.pinSlave">
      </handler>
      <handler
            class="org.talend.avro.schema.editor.viewer.handlers.SynchronizeMasterViewerHandler"
            commandId="org.talend.avro.schema.editor.viewer.syncMaster">
      </handler>
      <handler
      		class="org.talend.avro.schema.editor.viewer.handlers.NavigateToRootHandler"
            commandId="org.talend.avro.schema.editor.viewer.navigateToRoot">
      </handler>
      <handler
      		class="org.talend.avro.schema.editor.viewer.handlers.NavigateInHandler"
            commandId="org.talend.avro.schema.editor.viewer.navigateIn">
      </handler>
      <handler
            class="org.talend.avro.schema.editor.viewer.handlers.NavigateOutHandler"
            commandId="org.talend.avro.schema.editor.viewer.navigateOut">
      </handler>
      <handler
            class="org.talend.avro.schema.editor.handlers.UndoHandler"
            commandId="org.talend.avro.schema.editor.undo">
         <enabledWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="org.talend.avro.schema.editor.edit.AvroSchemaEditorPart">
                  </instanceof>
               </with>
               <test
                     property="org.talend.avro.schema.editor.undoable"
                     value="true">
               </test>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.talend.avro.schema.editor.handlers.RedoHandler"
            commandId="org.talend.avro.schema.editor.redo">
         <enabledWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="org.talend.avro.schema.editor.edit.AvroSchemaEditorPart">
                  </instanceof>
               </with>
               <test
                     property="org.talend.avro.schema.editor.redoable"
                     value="true">
               </test>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.talend.avro.schema.editor.registry.view.ShowSchemaRegistryView"
            commandId="org.talend.avro.schema.editor.showRegistry">
      </handler>
      <handler
            class="org.talend.avro.schema.editor.edit.handlers.AddElementHandler"
            commandId="org.talend.avro.schema.editor.edit.AddElement">
      </handler>
      <handler
            class="org.talend.avro.schema.editor.edit.handlers.RemoveElementHandler"
            commandId="org.talend.avro.schema.editor.edit.RemoveElement">
      </handler>
      <handler
            class="org.talend.avro.schema.editor.edit.handlers.MoveElementHandler"
            commandId="org.talend.avro.schema.editor.edit.MoveElement">
      </handler>
      <handler
            class="org.talend.avro.schema.editor.viewer.handlers.SchemaViewerPreferencesHandler"
            commandId="org.talend.avro.schema.editor.viewer.preferences">
      </handler>
      <handler
            class="org.talend.avro.schema.editor.edit.handlers.CopyElementHandler"
            commandId="org.talend.avro.schema.editor.edit.copy">
      </handler>
      <handler
            class="org.talend.avro.schema.editor.edit.handlers.PasteElementHandler"
            commandId="org.talend.avro.schema.editor.edit.paste">
      </handler>
            
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.talend.avro.schema.editor.viewer.tree.master?after=New Section">
         <command
               commandId="org.talend.avro.schema.editor.edit.AddElement"
               icon="icons/add.gif"
               label="Add"
               style="push"
               tooltip="Add">
            <parameter
                  name="org.talend.avro.schema.editor.context"
                  value="master">
            </parameter>
         </command>
         <command
               commandId="org.talend.avro.schema.editor.edit.RemoveElement"
               icon="icons/delete.gif"
               label="Remove"
               style="push"
               tooltip="Remove">
            <parameter
                  name="org.talend.avro.schema.editor.context"
                  value="master">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.talend.avro.schema.editor.viewer.tree.master?after=Expand Section">
         <command
               commandId="org.talend.avro.schema.editor.viewer.ExpandNodeAll"
               icon="icons/expandall.gif"
               label="Expand all children"
               style="push"
               tooltip="Expand all children">
            <parameter
                  name="org.talend.avro.schema.editor.context"
                  value="master">
            </parameter>
         </command>
         <command
               commandId="org.talend.avro.schema.editor.viewer.CollapseNodeAll"
               icon="icons/collapseall.gif"
               label="Collapse all children"
               style="push"
               tooltip="Collapse all children">
            <parameter
                  name="org.talend.avro.schema.editor.context"
                  value="master">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.talend.avro.schema.editor.viewer.tree.slave?after=New Section">
         <command
               commandId="org.talend.avro.schema.editor.edit.AddElement"
               icon="icons/add.gif"
               label="Add"
               style="push"
               tooltip="Add">
            <parameter
                  name="org.talend.avro.schema.editor.context"
                  value="slave">
            </parameter>
         </command>
         <command
               commandId="org.talend.avro.schema.editor.edit.RemoveElement"
               icon="icons/delete.gif"
               label="Remove"
               style="push"
               tooltip="Remove">
            <parameter
                  name="org.talend.avro.schema.editor.context"
                  value="slave">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.talend.avro.schema.editor.viewer.tree.slave?after=Expand Section">
         <command
               commandId="org.talend.avro.schema.editor.viewer.ExpandNodeAll"
               icon="icons/expandall.gif"
               label="Expand all children"
               style="push"
               tooltip="Expand all children">
            <parameter
                  name="org.talend.avro.schema.editor.context"
                  value="slave">
            </parameter>
         </command>
         <command
               commandId="org.talend.avro.schema.editor.viewer.CollapseNodeAll"
               icon="icons/collapseall.gif"
               label="Collapse all children"
               style="push"
               tooltip="Collapse all children">
            <parameter
                  name="org.talend.avro.schema.editor.context"
                  value="slave">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
             allPopups="false"
             locationURI="toolbar:org.talend.avro.schema.editor.viewer.tree.toolbar.display.master">
          <command
                commandId="org.talend.avro.schema.editor.viewer.ExpandAll"
                icon="icons/expandall.gif"
                label="Expand All"
                style="push">
             <parameter
                   name="org.talend.avro.schema.editor.context"
                   value="master">
             </parameter>
          </command>
          <command
                commandId="org.talend.avro.schema.editor.viewer.CollapseAll"
                icon="icons/collapseall.gif"
                label="Collapse All"
                style="push">
             <parameter
                   name="org.talend.avro.schema.editor.context"
                   value="master">
             </parameter>
          </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.talend.avro.schema.editor.viewer.tree.toolbar.display.master">
         <control
               class="org.talend.avro.schema.editor.viewer.SearchNodeControl"
               id="org.talend.avro.schema.editor.viewer.tree.searchNode">
         </control>
         <command
               commandId="org.talend.avro.schema.editor.viewer.ShowPreviousNode"
               icon="icons/pageup.gif"
               label="Go to previous node"
               style="push"
               tooltip="Go to previous node">
            <parameter
                  name="org.talend.avro.schema.editor.context"
                  value="master">
            </parameter>
         </command>
         <command
               commandId="org.talend.avro.schema.editor.viewer.ShowNextNode"
               icon="icons/pagedown.gif"
               label="Go to next node"
               style="push"
               tooltip="Go to next node">
            <parameter
                  name="org.talend.avro.schema.editor.context"
                  value="master">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.talend.avro.schema.editor.viewer.tree.toolbar.display.master">
         <command
               commandId="org.talend.avro.schema.editor.viewer.switchEditorLayout"
               icon="icons/two_trees_layout.gif"
               label="Switch Editor Layout"
               style="toggle"
               tooltip="Switch Avro Schema Editor Layout">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.talend.avro.schema.editor.viewer.tree.toolbar.display.slave">
         <command
               commandId="org.talend.avro.schema.editor.viewer.pinSlave"
               icon="icons/pin.gif"
               label="Pin Slave Schema Viewer"
               style="toggle"
               tooltip="Pin Slave Schema Viewer">
         </command>
         <command
               commandId="org.talend.avro.schema.editor.viewer.syncMaster"
               icon="icons/synched.gif"
               label="Synchronize Master Schema Viewer"
               style="push"
               tooltip="Synchronize Master Schema Viewer">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.talend.avro.schema.editor.viewer.tree.toolbar.navigation.master">
         <command
               commandId="org.talend.avro.schema.editor.viewer.navigateToRoot"
               icon="icons/go_back_to_root.gif"
               label="Go To Root"
               style="push"
               tooltip="Go To Root">
            <parameter
                  name="org.talend.avro.schema.editor.context"
                  value="master">
            </parameter>            
         </command>
         <command
               commandId="org.talend.avro.schema.editor.viewer.navigateOut"
               icon="icons/backward_nav.gif"
               label="Go Back"
               style="push"
               tooltip="Go Back">
            <parameter
                  name="org.talend.avro.schema.editor.context"
                  value="master">
            </parameter>            
         </command>
         <command
               commandId="org.talend.avro.schema.editor.viewer.navigateIn"
               icon="icons/forward_nav.gif"
               label="Go Into"
               style="push"
               tooltip="Go Into">
            <parameter
                  name="org.talend.avro.schema.editor.context"
                  value="master">
            </parameter>            
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.talend.avro.schema.editor.viewer.tree.toolbar.edition.master">
         <command
               commandId="org.talend.avro.schema.editor.edit.AddElement"
               icon="icons/add.gif"
               label="Add"
               style="push"
               tooltip="Add">
            <parameter
                  name="org.talend.avro.schema.editor.context"
                  value="master">
            </parameter>
         </command>
         <command
               commandId="org.talend.avro.schema.editor.edit.RemoveElement"
               icon="icons/delete.gif"
               label="Remove"
               style="push"
               tooltip="Remove">
            <parameter
                  name="org.talend.avro.schema.editor.context"
                  value="master">
            </parameter>
         </command>
         <command
               commandId="org.talend.avro.schema.editor.edit.MoveElement"
               icon="icons/pageup.gif"
               label="Move Up"
               style="push"
               tooltip="Move Up">
            <parameter
                  name="org.talend.avro.schema.editor.edit.direction"
                  value="up">
            </parameter>
            <parameter
                  name="org.talend.avro.schema.editor.context"
                  value="master">
            </parameter>
         </command>
         <command
               commandId="org.talend.avro.schema.editor.edit.MoveElement"
               icon="icons/pagedown.gif"
               label="Move Down"
               style="push"
               tooltip="Move Down">
            <parameter
                  name="org.talend.avro.schema.editor.edit.direction"
                  value="down">
            </parameter>
            <parameter
                  name="org.talend.avro.schema.editor.context"
                  value="master">
            </parameter>
         </command>
         <command
               commandId="org.talend.avro.schema.editor.edit.copy"
               icon="icons/copy.gif"
               label="Copy"
               style="push"
               tooltip="Copy selected element(s)">
            <parameter
                  name="org.talend.avro.schema.editor.context"
                  value="master">
            </parameter>
         </command>
         <command
               commandId="org.talend.avro.schema.editor.edit.paste"
               icon="icons/paste.gif"
               label="Paste"
               style="push"
               tooltip="Paste copied element(s) on current selected element">
            <parameter
                  name="org.talend.avro.schema.editor.context"
                  value="master">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.talend.avro.schema.editor.viewer.tree.toolbar.edition.slave">
         <command
               commandId="org.talend.avro.schema.editor.edit.AddElement"
               icon="icons/add.gif"
               label="Add"
               style="push"
               tooltip="Add">
            <parameter
                  name="org.talend.avro.schema.editor.context"
                  value="slave">
            </parameter>
         </command>
         <command
               commandId="org.talend.avro.schema.editor.edit.RemoveElement"
               icon="icons/delete.gif"
               label="Remove"
               style="push"
               tooltip="Remove">
            <parameter
                  name="org.talend.avro.schema.editor.context"
                  value="slave">
            </parameter>
         </command>
         <command
               commandId="org.talend.avro.schema.editor.edit.MoveElement"
               icon="icons/pageup.gif"
               label="Move Up"
               style="push"
               tooltip="Move Up">
            <parameter
                  name="org.talend.avro.schema.editor.edit.direction"
                  value="up">
            </parameter>
            <parameter
                  name="org.talend.avro.schema.editor.context"
                  value="slave">
            </parameter>
         </command>
         <command
               commandId="org.talend.avro.schema.editor.edit.MoveElement"
               icon="icons/pagedown.gif"
               label="Move Down"
               style="push"
               tooltip="Move Down">
            <parameter
                  name="org.talend.avro.schema.editor.edit.direction"
                  value="down">
            </parameter>
            <parameter
                  name="org.talend.avro.schema.editor.context"
                  value="slave">
            </parameter>
         </command>
         <command
               commandId="org.talend.avro.schema.editor.edit.copy"
               icon="icons/copy.gif"
               label="Copy"
               style="push"
               tooltip="Copy selected element(s)">
            <parameter
                  name="org.talend.avro.schema.editor.context"
                  value="slave">
            </parameter>
         </command>
         <command
               commandId="org.talend.avro.schema.editor.edit.paste"
               icon="icons/paste.gif"
               label="Paste"
               style="push"
               tooltip="Paste copied element(s) on current selected element">
            <parameter
                  name="org.talend.avro.schema.editor.context"
                  value="slave">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.talend.avro.schema.editor.undoRedoToolbar">
            <command
                  commandId="org.talend.avro.schema.editor.undo"
                  icon="icons/undo_edit.gif"
                  label="undo"
                  style="push"
                  tooltip="Undo">
            </command>
            <command
                  commandId="org.talend.avro.schema.editor.redo"
                  icon="icons/redo_edit.gif"
                  label="Redo"
                  style="push"
                  tooltip="Redo">
            </command>
         </toolbar>
         <toolbar
               id="org.talend.avro.schema.editor.showViewsToolbar">
            <command
                  commandId="org.talend.avro.schema.editor.showRegistry"
                  icon="icons/schema_registry.gif"
                  label="Show Schema Registry View"
                  style="push"
                  tooltip="Show Schema Registry View">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.talend.avro.schema.editor.viewer.tree.toolbar.display.master">
         <command
               commandId="org.talend.avro.schema.editor.viewer.preferences"
               icon="icons/configure.gif"
               label="Preferences"
               style="push"
               tooltip="Set display preferences">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.talend.avro.schema.editor.edit.handlers.NodeTypePropertyTester"
            id="org.talend.avro.schema.editor.edit.NodeTypePropertyTester"
            namespace="org.talend.avro.schema.editor.edit"
            properties="NodeType"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.talend.avro.schema.editor.edit.handlers.AddElementPropertyTester"
            id="org.talend.avro.schema.editor.edit.AddElementPropertyTester"
            namespace="org.talend.avro.schema.editor.edit"
            properties="CanAddElement"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.talend.avro.schema.editor.handlers.UndoRedoPropertyTester"
            id="org.talend.avro.schema.editor.UndoRedoPropertyTester"
            namespace="org.talend.avro.schema.editor"
            properties="undoable, redoable"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.talend.avro.schema.editor.context.SearchNodePropertyTester"
            id="org.talend.avro.schema.editor.search.SearchNodePropertyTester"
            namespace="org.talend.avro.schema.editor.search"
            properties="hasprevious, hasnext"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.views">      
      <view
            allowMultiple="false"
            class="org.talend.avro.schema.editor.viewer.attribute.view.AttributeView"
            id="org.talend.avro.schema.editor.viewer.attribute.AttributeView"
            name="Attribute View"
            restorable="true">
      </view>      
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.talend.avro.schema.editor.debug.AvroSchemaEditorDebugView"
            id="org.talend.avro.schema.editor.debug.AvroSchemaEditorDebugView"
            name="Schema Debug View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.talend.avro.schema.editor.debug.ExpandAll"
            name="Expand All">
      </command>
      <command
            id="org.talend.avro.schema.editor.debug.CollapseAll"
            name="Collapse All">
      </command>
      <command
            id="org.talend.avro.schema.editor.debug.SynchronizeSelectionFromEditor"
            name="Synchronize selection from editor">
      </command>
      <command
            id="org.talend.avro.schema.editor.debug.SynchronizeSelectionToEditor"
            name="Synchronize selection to editor">
      </command>
      <command
            id="org.talend.avro.schema.editor.debug.globalrefresh"
            name="Global Refresh">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.talend.avro.schema.editor.debug.ExpandAllDebugHandler"
            commandId="org.talend.avro.schema.editor.debug.ExpandAll">
      </handler>
      <handler
            class="org.talend.avro.schema.editor.debug.SynchronizeSelectionFromEditorHandler"
            commandId="org.talend.avro.schema.editor.debug.SynchronizeSelectionFromEditor">
      </handler>
      <handler
            class="org.talend.avro.schema.editor.debug.SynchronizeSelectionToEditorHandler"
            commandId="org.talend.avro.schema.editor.debug.SynchronizeSelectionToEditor">
      </handler>
      <handler
            class="org.talend.avro.schema.editor.debug.GlobalRefreshHandler"
            commandId="org.talend.avro.schema.editor.debug.globalrefresh">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.talend.avro.schema.editor.debug.AvroSchemaEditorDebugView">
         <command
               commandId="org.talend.avro.schema.editor.debug.ExpandAll"
               icon="icons/expandall.gif"
               label="Expand All"
               style="push">
         </command>
         <command
               commandId="org.talend.avro.schema.editor.debug.SynchronizeSelectionFromEditor"
               icon="icons/sync_from.gif"
               label="Synchronize selection from editor"
               style="push"
               tooltip="Synchronize selection from editor">
         </command>
         <command
               commandId="org.talend.avro.schema.editor.debug.SynchronizeSelectionToEditor"
               icon="icons/sync_to.gif"
               label="Synchronize selection to editor"
               style="push"
               tooltip="Synchronize selection to editor">
         </command>
         <command
               commandId="org.talend.avro.schema.editor.debug.globalrefresh"
               icon="icons/refresh.gif"
               label="Global Refresh"
               style="push"
               tooltip="Global Refresh">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.talend.avro.schema.editor.thumbnail.ThumbnailView"
            id="org.talend.avro.schema.editor.thumbnail.ThumbnailView"
            name="Thumbnail View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.talend.avro.schema.editor.thumbnail.refresh"
            name="Refresh">
      </command>
      <command
            id="org.talend.avro.schema.editor.thumbnail.upload"
            name="Upload">
      </command>
      <command
            id="org.talend.avro.schema.editor.thumbnail.clear"
            name="Clear">
      </command>
      <command
            id="org.talend.avro.schema.editor.thumbnail.format"
            name="Format">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.talend.avro.schema.editor.thumbnail.RefreshThumbnailViewHandler"
            commandId="org.talend.avro.schema.editor.thumbnail.refresh">
      </handler>
      <handler
            class="org.talend.avro.schema.editor.thumbnail.ClearThumbnailContentHandler"
            commandId="org.talend.avro.schema.editor.thumbnail.clear">
      </handler>
      <handler
            class="org.talend.avro.schema.editor.thumbnail.SetEditorContentHandler"
            commandId="org.talend.avro.schema.editor.thumbnail.upload">
      </handler>
      <handler
            class="org.talend.avro.schema.editor.thumbnail.FormatSchemaThumbnailHandler"
            commandId="org.talend.avro.schema.editor.thumbnail.format">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.talend.avro.schema.editor.thumbnail.ThumbnailView">
         <command
               commandId="org.talend.avro.schema.editor.thumbnail.clear"
               icon="icons/clear.gif"
               label="Clear"
               style="push"
               tooltip="Clear">
         </command>
         <command
               commandId="org.talend.avro.schema.editor.thumbnail.upload"
               icon="icons/upload.gif"
               label="Upload"
               style="push"
               tooltip="Upload">
         </command>
         <command
               commandId="org.talend.avro.schema.editor.thumbnail.refresh"
               icon="icons/refresh.gif"
               label="Refresh"
               style="push"
               tooltip="Refresh">
         </command>
         <command
               commandId="org.talend.avro.schema.editor.thumbnail.format"
               icon="icons/format.gif"
               label="Format"
               style="push"
               tooltip="Format">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.talend.avro.schema.editor.log.AvroSchemaLogView"
            id="org.talend.avro.schema.editor.log.view"
            name="Avro Schema Log View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.talend.avro.schema.editor.log.activate"
            name="Activate">
      </command>
      <command
            id="org.talend.avro.schema.editor.log.clear"
            name="Clear">
      </command>
      <command
            id="org.talend.avro.schema.editor.log.computeStats"
            name="Compute Stats">
      </command>
      <command
            id="org.talend.avro.schema.editor.log.nameSpaceTree"
            name="NameSpace Tree">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.talend.avro.schema.editor.log.ActivateLogHandler"
            commandId="org.talend.avro.schema.editor.log.activate">
      </handler>
      <handler
            class="org.talend.avro.schema.editor.log.ClearLogHandler"
            commandId="org.talend.avro.schema.editor.log.clear">
      </handler>
      <handler
            class="org.talend.avro.schema.editor.log.CountTreeItemsHandler"
            commandId="org.talend.avro.schema.editor.log.computeStats">
      </handler>
      <handler
            class="org.talend.avro.schema.editor.log.DisplayNameSpaceTreeHandler"
            commandId="org.talend.avro.schema.editor.log.nameSpaceTree">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.talend.avro.schema.editor.log.view">
         <command
               commandId="org.talend.avro.schema.editor.log.activate"
               icon="icons/debug_log.gif"
               label="Activate"
               style="push"
               tooltip="Activate/Desactivate">
         </command>
         <command
               commandId="org.talend.avro.schema.editor.log.clear"
               icon="icons/clear.gif"
               label="Clear"
               style="push"
               tooltip="Clear logs">
         </command>
         <command
               commandId="org.talend.avro.schema.editor.log.computeStats"
               icon="icons/compute_stats.gif"
               label="Compute Statistics"
               style="push"
               tooltip="Compute Statistics">
         </command>
         <command
               commandId="org.talend.avro.schema.editor.log.nameSpaceTree"
               icon="icons/namespace_tree.png"
               label="NameSpace Tree"
               style="push"
               tooltip="NameSpace Tree">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.talend.avro.schema.editor.registry.view.SchemaRegistryView"
            icon="icons/schema_registry.gif"
            id="org.talend.avro.schema.editor.registry.view"
            name="Schema Registry View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.talend.avro.schema.editor.registry.copy"
            name="Copy to clipboard">
      </command>
      <command
            id="org.talend.avro.schema.editor.registry.view.expandAll"
            name="Expand all">
      </command>
      <command
            id="org.talend.avro.schema.editor.registry.view.setDisplayMode"
            name="Set Display Mode">
         <commandParameter
               id="org.talend.avro.schema.editor.registry.view.displayMode"
               name="Display Mode"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="org.talend.avro.schema.editor.registry.view.show"
            name="Show in editor">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.talend.avro.schema.editor.registry.view.CopyToClipboardHandler"
            commandId="org.talend.avro.schema.editor.registry.copy">
      </handler>
      <handler
            class="org.talend.avro.schema.editor.registry.view.ExpandAllHandler"
            commandId="org.talend.avro.schema.editor.registry.view.expandAll">
      </handler>
      <handler
            class="org.talend.avro.schema.editor.registry.view.SetDisplayModeHandler"
            commandId="org.talend.avro.schema.editor.registry.view.setDisplayMode">
      </handler>
      <handler
            class="org.talend.avro.schema.editor.registry.view.ShowInEditorHandler"
            commandId="org.talend.avro.schema.editor.registry.view.show">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.talend.avro.schema.editor.registry.view.tree">
         <command
               commandId="org.talend.avro.schema.editor.registry.copy"
               label="Copy to clipboard"
               style="push"
               tooltip="Copy to clipboard">
         </command>
         <command
               commandId="org.talend.avro.schema.editor.registry.view.show"
               label="Show in editor"
               style="push"
               tooltip="Show in editor">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.talend.avro.schema.editor.registry.view">
         <command
               commandId="org.talend.avro.schema.editor.registry.view.expandAll"
               icon="icons/expandall.gif"
               label="Expand all"
               style="push"
               tooltip="Expand all">
         </command>
         <command
               commandId="org.talend.avro.schema.editor.registry.view.setDisplayMode"
               icon="icons/hierarchicalLayout.gif"
               label="Set Hierarchical Layout"
               style="push"
               tooltip="Set Hierarchical Layout">
            <parameter
                  name="org.talend.avro.schema.editor.registry.view.displayMode"
                  value="HIERARCHICAL">
            </parameter>
         </command>
         <command
               commandId="org.talend.avro.schema.editor.registry.view.setDisplayMode"
               icon="icons/flatLayout.gif"
               label="Set Flat Layout"
               style="push"
               tooltip="Set Flat Layout">
            <parameter
                  name="org.talend.avro.schema.editor.registry.view.displayMode"
                  value="FLAT">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.talend.avro.schema.editor.editorConfiguration">
      <editorConfiguration
            configuration="org.talend.avro.schema.editor.edit.services.AvroSchemaEditorConfiguration"
            contextId="org.talend.avro.schema.editor.edit.AvroSchemaEditor">
      </editorConfiguration>
   </extension>
   <extension
         point="org.talend.avro.schema.editor.editorConfiguration">
      <editorConfiguration
            configuration="org.talend.avro.schema.editor.studio.services.StudioSchemaEditConfiguration"
            contextId="org.talend.avro.schema.editor.studio.schema.StudioSchemaEditor">
      </editorConfiguration>
   </extension>
   <extension
         point="org.talend.avro.schema.editor.attributesConfiguration">
      <attributesConfiguration
            configuration="org.talend.avro.schema.editor.studio.attributes.StudioAttributesConfiguration"
            contextId="org.talend.avro.schema.editor.studio.schema.StudioSchemaEditor">
      </attributesConfiguration>
   </extension>
   <extension
         point="org.talend.avro.schema.editor.schemaViewerConfiguration">
      <schemaViewerConfiguration
         	configuration="org.talend.avro.schema.editor.studio.viewer.StudioSchemaViewerConfiguration"
            contextId="org.talend.avro.schema.editor.studio.schema.StudioSchemaEditor">
      </schemaViewerConfiguration>
   </extension> 
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.talend.avro.schema.editor.history.SchemaHistoryView"
            id="org.talend.avro.schema.editor.history.view"
            name="Schema History View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.talend.avro.schema.editor.edit.copy"
            contextId="org.talend.avro.schema.editor.edit.AvroSchemaEditor.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+C">
      </key>
      <key
            commandId="org.talend.avro.schema.editor.edit.paste"
            contextId="org.talend.avro.schema.editor.edit.AvroSchemaEditor.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+V">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="Avro Schema Editor Context"
            id="org.talend.avro.schema.editor.edit.AvroSchemaEditor.context"
            name="Avro Schema Editor Context"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
</plugin>
